.actors-container {
display: inline-block;
text-align: center;
}

.actor-image {
    width: 250px;
    height: 250px;
    background-color: blue;
    background-size: cover;
    transition: all 0.3s ease-in-out;

}

.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.back {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgba(149, 216, 238);
    text-decoration: none;
}

.actor-image:hover {
transform: scale(1.05);
transition: all 0.3s ease-in-out;
}

.image-profile {
    width: 100%;
    height: 400px;
    background-size: cover;
}