
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  background-color: orange;
  padding: 10px 20px;
}

.nav-menu li {
  display: inline-block;
  list-style-type: none;
}

.nav-menu__link {
  display: inline-block;
  margin: 5px;
  border: 1px solid grey;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: white;
}

.nav-menu__link:hover {
    border: 1px solid black;
    background-color: rgba(228, 228, 228);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.logo-link {
    color: white;
    display: inline-block;
    text-decoration: none;
}

.nav-menu__link.active {
  background-color: royalblue!important;
  color: white;
}