
* {
    
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: monospace;
}

body {
    margin: 0 auto;
    background-color: cadetblue;
}

.App {
    background: #fff;
    max-width: 992px!important;
    margin:auto;
    padding-bottom: 50px;
}